@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="KreditResult" id="credit_form" method="post">
    <div class="form_row form-group">
        <div class="row">
            <label for="Sum" class="col-sm-2 col-form-label">Сумма кредита</label>
            <div class="col-sm-10"><input name="Sum" type="text" id="Sum" /></div>
        </div>
        <small class="small form-text text-muted"></small>
    </div>
    <div class="form_row form-group">
        <div class="row">
            <label for="CreditTime" class="col-sm-2 col-form-label">Срок кредита</label>
            <div class="col-sm-10">
                <input name="CreditTime" type="text" id="CreditTime" />
                <select name="PeriodType" id="PeriodType">
                    <option value="false">Месяцев</option>
                    <option value="true">Дней</option>
                </select>
            </div>
        </div>
        <small class="small form-text text-muted"></small>
    </div>
    <div class="form_row form-group">
        <div class="row">
            <label for="CreditRate" class="col-sm-2 col-form-label">Ставка</label>
            <div class="col-sm-10">
                <input name="CreditRate" type="text" id="CreditRate" />
                <select name="RateType" id="RateType">
                    <option value="false">В год</option>
                    <option value="true">В день</option>
                </select>
            </div>
        </div>
            <small class="small form-text text-muted"></small>
        </div>
    <div class="form_row form-group">
        <div class="row">
            <label for="PayPeriod" class="col-sm-2 col-form-label">Шаг платежа</label>
            <div class="col-sm-10">
                <select name="PayPeriod" id="PayPeriod">
                    <option value="30">Ежемесячно</option>
                    <option value="15">15 дней</option>
                    <option value="10">10 дней</option>
                </select>
            </div>
        </div>
            <small class="small form-text text-muted"></small>
        </div>
    <div class="form_row form-group">
        <input type="submit" value="Рассчитать" />
    </div>
</form>
