@model Credit
@{
    ViewData["Title"] = "KreditResult";
}

<table>
    <thead>
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Размер платежа по телу</th>
            <th>Размер платежа по %</th>
            <th>Остаток основного долга</th>
        </tr>
    </thead>
</table>

