@model Credit
@{
    List<string> table = Model.getPayTable();
    ViewData["Title"] = "KreditResult";
}

<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th>Номер платежа</th>
            <th>Дата платежа</th>
            <th>Размер платежа по телу</th>
            <th>Размер платежа по %</th>
            <th>Остаток основного долга</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in table)
        {
            @Html.Raw(x)
        }
    </tbody>
</table>

